[submodule "Dependencies/ByteTrackEigen"]
	path = Dependencies/ByteTrackEigen
	url = https://github.com/ahsanullah-8bit/ByteTrackEigen.git
[submodule "Dependencies/QxOrm"]
	path = Dependencies/QxOrm
	url = https://github.com/QxOrm/QxOrm.git
